<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">

	<ui:define name="content">
		<h1>Usuarios</h1>
		<h:form id="frmBuscar">
			<p:inputText id="txtBuscarUsuario" value="#{usuarioBean.valorBuscado}" required="true" placeholder="Buscar Usuarios"/>
			<p:commandButton value="Buscar" actionListener="#{usuarioBean.buscar()}" ajax="true" update="frm" />		
		</h:form>
		<h:form id="frm" enctype="multipart/form-data">
				<p:dataTable id="dt" var="e" value="#{usuarioBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">
					
					<p:column headerText="Nombre Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acciones" exportable="false">
						<p:commandLink actionListener="#{usuarioBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" update="frm,dlg" immediate="true" process="@this">
							<p:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>

				</p:dataTable>
		</h:form>


			<p:dialog id="dlg" widgetVar="wdlg" header="Modificando Usuario: #{usuarioBean.usuario.usuario}" modal="true" closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg1" columns="4">
					<h:form id="frm1">
					<p:outputLabel for="txtUsuario" value="Usuario" />
					<p:inputText id="txtUsuario" value="#{usuarioBean.usuario.usuario}" required="true" readonly="true"/>
					<p:message for="txtUsuario" display="icon"/>	
					<h:column/>

					<p:outputLabel for="txtContrasenaActual" value="Contraseña Actual" />
					<p:inputText id="txtContrasenaActual" value="#{usuarioBean.contrasenaActual}" required="true"/>
					<p:commandButton value="Verificar" actionListener="#{usuarioBean.verificarContrasena()}" ajax="true" update="frm2" />
					</h:form>
				</h:panelGrid>

			<h:form id="frm2">
			<p:messages autoUpdate="true" />
				<h:panelGrid id="pg2" columns="4">
					<p:outputLabel for="txtNuevaContrasena" value="Nueva Contraseña" />
					<p:password id="txtNuevaContrasena" value="#{usuarioBean.usuario.contrasena}" required="true" match="txtNuevaContrasena2" validatorMessage="Contraseñas no coinciden"/>
					<p:message for="txtNuevaContrasena" display="icon"/>
 					<h:column/>
 					
					<p:outputLabel for="txtNuevaContrasena2" value="Repetir Contraseña" />
					<p:password id="txtNuevaContrasena2" value="#{usuarioBean.usuario.contrasena}" required="true" />
					<p:message for="txtNuevaContrasena2" display="icon"/>
					<h:column/>
				</h:panelGrid>
				<p:commandButton id="aceptar" value="Aceptar" actionListener="#{usuarioBean.modificar()}" ajax="true" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" 
				rendered="#{usuarioBean.contrasenaValidada == 'SI'}"  />
				<p:commandButton value="Cancelar" actionListener="#{usuarioBean.limpiarControles()}" ajax="true" onclick="PF('wdlg').hide()" immediate="true"  />
			</h:form>

			</p:dialog>

			
	</ui:define>
</ui:composition>

</html>